$acc-clr-1: #8a5c5d;
$acc-clr-2: #714849;
$acc-clr-3: #e6a459;

$dark-clr-1: #3d3d3d;

$light-clr-1: #fae6ce;
$light-clr-2: #dfc19d;

$cell-clr-1: #e1c39f;
$cell-clr-2: #c69b6b;

$stripe-scale: 6rem;
$stripe-color: #f1ddc6;
$checker-scale: 6rem;


$z-ind-transition: 99;
$z-ind-game-ui: 90;
$z-ind-grid: 3;
$z-ind-grid-border: 2;
$z-ind-grid-trunk: 1;



@font-face {
  font-family: "ConcertOne";
  src: url("/fonts/ConcertOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ConcertOne", sans-serif;
}

body {
  overflow: hidden;
}

@mixin checkered {
  background-color: $acc-clr-1;
  background-image: linear-gradient(
      -45deg,
      $acc-clr-2 0,
      $acc-clr-2 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      45deg,
      $acc-clr-2 0,
      $acc-clr-2 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      $acc-clr-2 0,
      $acc-clr-2 25%,
      transparent 25%,
      transparent 100%
    ),
    linear-gradient(
      -135deg,
      $acc-clr-2 0,
      $acc-clr-2 25%,
      transparent 25%,
      transparent 100%
    );

  background-size: $checker-scale $checker-scale;
  background-position: $checker-scale $checker-scale;
}

@mixin movingStripes {
  background-image: repeating-linear-gradient(
    -45deg,
    $light-clr-1 0,
    $light-clr-1 $stripe-scale,
    $stripe-color $stripe-scale,
    $stripe-color $stripe-scale * 2
  );
  $size: $stripe-scale * sqrt(8); // I honestly don't know why sqrt 8 works
  background-size: $size $size;
  animation: stripeMovement 6s linear infinite;
}

@keyframes stripeMovement {
  0% {
    background-position: 0;
  }
  100% {
    background-position: $stripe-scale * sqrt(8);
  }
}

button {
  color: $light-clr-1;
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  text-shadow: 0 0rem 0.5rem black;
  padding: 0.5rem;

  &:hover {
    animation: shake 0.1s forwards;
  }

  &:active {
    animation: strongShake 0.1s;
  }

  &:disabled {
    color: gray;
    cursor: not-allowed;

    &:hover,
    &:active {
      animation: none;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  33% {
    transform: rotate(5deg) scale(1.1);
  }
  66% {
    transform: rotate(-5deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1.2);
  }
}

@keyframes strongShake {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  33% {
    transform: rotate(5deg) scale(1.5);
  }
  66% {
    transform: rotate(-5deg) scale(1.5);
  }
}

@mixin breathing {
  animation: breathing 3s ease-out infinite;
}

@keyframes breathing {
  0%,
  50%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-2deg) scale(1.02);
  }
  75% {
    transform: rotate(2deg) scale(1.02);
  }
}
