h1.heading {
  margin-bottom: 2rem;
  @include theme.breathing;
  @include theme.heading;
}

p.instruction {
  color: theme.$light-clr-2;
  font-size: 2rem;
  text-shadow: 0 0rem 0.6rem black;
  text-align: center;
  padding-inline: 1rem;

  margin-top: 2em;
}

button.backButton {
  font-size: 2rem;
  margin-top: 3rem;
}

.howToPlayMenu {
  @include theme.mainMenuContainer;
}
