.hud {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: theme.$z-ind-game-ui;
}

.upperLeft,
.upperRight,
.upperCenter,
.lowerLeft {
  width: auto;
  position: absolute;
  padding: 1.2rem;
}

.upperLeft {
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: start;

  color: theme.$acc-clr-1;

  span.uiVariable {
    margin-bottom: 0.5rem;
    font-size: 4rem;
  }

  span.uiLabel {
    margin-bottom: -0.5rem;
    font-size: 2rem;
  }
}

.puff {
  animation: puff 0.2s;
}

.upperCenter {
  $width: 60vmin;

  left: calc((100vw - $width) / 2);
  top: calc(50vh - 45vmin);
  width: $width;
  height: 5vmin;
  padding: 0;

  div.cooldownBar {
    background-color: theme.$acc-clr-1;
    width: 100%;
    height: 100%;
    border-radius: 3vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.cooldownBarBG {
      background-color: theme.$cell-clr-1;
      border-radius: 2vmin;
      width: 95%;
      height: 50%;
      overflow: hidden;

      div.cooldownBarFill {
        background-color: theme.$acc-clr-3;
        height: 100%;
        transition: width 0.5s;
      }
    }
  }
}

.barFull {
  animation: barFull 0.5s infinite;
}

.upperRight {
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
}

.lowerLeft {
  left: 0;
  bottom: 0;
}

@keyframes puff {
  0%,
  100% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
}

@keyframes barFull {
  0%,
  100% {
    background-color: theme.$acc-clr-3;
  }
  50% {
    background-color: white;
  }
}
