.piece {
  position: absolute;
  width: calc(theme.$grid-scale / 8);
  height: calc(theme.$grid-scale / 8);
  transition: all 0.2s;
}

.jumpReference,
.danceReference,
.jiggleReference {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.danceReference {
  transform-origin: 50% 80%;
  animation: dance 1s infinite;
}

.jiggleReference {
  transform-origin: 50% 80%;
  animation: jiggle 0.4s infinite;
}

.jumping {
  animation: jump 0.2s;
}

@keyframes jump {
  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 3vmin;
  }
}

@keyframes dance {
  0%,
  25%,
  100% {
    transform: scaleY(1);
  }

  50%,
  75% {
    transform: scaleY(0.95) scaleX(1.05);
  }
}

@keyframes jiggle {
  0%,
  25%,
  100% {
    transform: scaleY(1);
  }

  50%,
  75% {
    transform: scaleY(0.9) scaleX(1.1);
  }
}
